body {
    background-image: url('/static/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* hide / show */

.hide {
  display: none;
}

.displayInline {
  display: inline;
}

/* logo */

#pixelLogo {
    position: absolute;
    bottom: 0;
    left: 250px;
    top: 220px;
}

#pixelLogoShort {
    position: absolute;
    bottom: 0;
    left: 250px;
    top: 180px;
}

/* game board section */

#boardContainer {
    position: relative;
    width: 1100px;
    height: 990px;
    margin: 50px auto 0px;
    text-align: center;
    background: url('/static/images/screen.png');
    background-repeat: no-repeat;
}

#myCanvas {
    position: absolute;
    top: 150px;
    left: 150px;
}

/* game board section / players details */

#playerDetailsContainer {
  display: hide;
  position: absolute;
  top: 0;
  left: 0;
}

.playerInfo {
  width: 200px;
  font-size: 1.5vh;
  font-family: "Press Start 2P"; 
  color: white;
}

#player1name {
  position: absolute;
  top: 650px;
  left: 150px;
}

#player1score {
  top: 690px;
  position: absolute;
  left: 150px;
}

#player2name {
  position: absolute;
  top: 650px;
  left: 745px;
}

#player2score {
  position: absolute;
  top: 690px;
  left: 745px;
}

/* button */

#controlsContainer {
    width: 15%;
    height: 100%;
    padding-top: 10px;
    display: block;
    float: left;
}

#newGameButton {
    background-color: transparent;
    border: none;
    outline: none;
}

/* form */

.inputForm {
  position: absolute;
  font-family: "Press Start 2P";
  width: 30%;
  font-size: 2vh;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.nickName {
  top: 59px;
  left: 316px;
}

.gameroomField {
  top: 32px;
  left: 300px;
}

/* form / submit */

#sendGameRoomDetails {
  background-color: white;
  color: black;
  font-family: "Press Start 2P";
  font-size: 2vh;
  border: solid 4px white;
}

/* fake console */

.fakeScreen {
    background-color: black;
    box-sizing: border-box;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fakeConsole {
    position: absolute;
    top: 150px;
    left: 150px;
} 

/* fake console / join server section */

#joinGameroom {
  top: 350px;
}

/* fake console / paragraph */

p {
    position: relative;
    left: 180px;
    margin-left: -8.5em;
    text-align: left;
    font-size: 2vh;
    font-family: "Press Start 2P";
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

/* fake console / cursor */

span {
    color: #fff;
    font-weight: bold;
}

/* fake console / animations */

.line1 {
    color: #9CD9F0;
    -webkit-animation: type .5s 1s steps(20, end) forwards;
    -moz-animation: type .5s 1s steps(20, end) forwards;
    -o-animation: type .5s 1s steps(20, end) forwards;
    animation: type .5s 1s steps(20, end) forwards;
}

.cursor1 {
    -webkit-animation: blink 1s 2s 2 forwards;
    -moz-animation: blink 1s 2s 2 forwards;
    -o-animation: blink 1s 2s 2 forwards;
    animation: blink 1s 2s 2 forwards;
}

.staticCursor {
    -webkit-animation: blink 1s 2s 0 forwards;
    -moz-animation: blink 1s 2s 0 forwards;
    -o-animation: blink 1s 2s 0 forwards;
    animation: blink 1s 2s 0 forwards;
}

.line2 {
    color: #CDEE69;
    -webkit-animation: type .5s 4.25s steps(20, end) forwards;
    -moz-animation: type .5s 4.25s steps(20, end) forwards;
    -o-animation: type .5s 4.25s steps(20, end) forwards;
    animation: type .5s 4.25s steps(20, end) forwards;
}

.cursor2 {
    -webkit-animation: blink 1s 5.25s 2 forwards;
    -moz-animation: blink 1s 5.25s 2 forwards;
    -o-animation: blink 1s 5.25s 2 forwards;
    animation: blink 1s 5.25s 2 forwards;
}

.line3 {
    color: #E09690;
    -webkit-animation: type .5s 7.5s steps(20, end) forwards;
    -moz-animation: type .5s 7.5s steps(20, end) forwards;
    -o-animation: type .5s 7.5s steps(20, end) forwards;
    animation: type .5s 7.5s steps(20, end) forwards;
}

.cursor3 {
    -webkit-animation: blink 1s 8.5s 2 forwards;
    -moz-animation: blink 1s 8.5s 2 forwards;
    -o-animation: blink 1s 8.5s 2 forwards;
    animation: blink 1s 8.5s 2 forwards;
}

.line4 {
    color: #fff;
    -webkit-animation: type .5s 10.75s steps(20, end) forwards;
    -moz-animation: type .5s 10.75s steps(20, end) forwards;
    -o-animation: type .5s 10.75s steps(20, end) forwards;
    animation: type .5s 10.75s steps(20, end) forwards;
}

.cursor4 {
    -webkit-animation: blink 1s 11.5s infinite;
    -moz-animation: blink 1s 8.5s infinite;
    -o-animation: blink 1s 8.5s infinite;
    animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes type {
    to {
        width: 700px;
    }
}

@-moz-keyframes type {
    to {
        width: 700px;
    }
}

@-o-keyframes type {
    to {
        width: 700px;
    }
}

@keyframes type {
    to {
        width: 700px;
    }
}
