/* reset */

html {
    margin: 0;
    padding: 0;;
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url('/static/images/seamlessBackground.jpg');
    background-repeat: repeat;
}

/* hide / show classes */

.hide {
    display: none;
}

.displayInline {
    display: block;
}

/* button */

#controlsContainerSidebar {
    width: 15%;
    height: 100%;
    padding-top: 10px;
    display: block;
    /* float: left; */
}

#newGameButton {
    min-width: 200px;
    background-color: transparent;
    border: none;
    outline: none;
}

#instructionsButton {
    min-width: 200px;
    background-color: transparent;
    border: none;
    outline: none;
}

#aboutButton {
    min-width: 200px;
    background-color: transparent;
    border: none;
    outline: none;
}

#reset {
    min-width: 200px;
    background-color: transparent;
    border: none;
    outline: none;
}

/* logo */

#pixelLogo {
    width: 45%;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 15%;
}

#pixelLogoSmall {
    position: relative;
}

/* old screen template */

#screenFrame {
    height: 100%;
}

/* old screen content container */

.screenContent {
    position: absolute;
    height: 66%;
    width: 73.5%;
    top: 19%;
    left: 13%;
}

/* old screen content wrapper */

#boardContainer {
    width: 100vw; 
    height: 82.73vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 120.87vh; /* 16/9 = 1.778 */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    overflow: hidden;
}

/* game board section / players details */

#myCanvas {
    width: 100%;
    position: relative;
}

#playerDetailsContainer {
    padding: 1%;
    position: relative;
}

.playerInfo {
    font-size: 2vmin;
    font-family: "Press Start 2P";
    color: white;
}

#player1 {
    float: left;
}

#player2 {
    float: right;
}

#player1name {
    position: relative;
}

#player1score {
    position: relative;
}

#player2name {
    position: relative;
}

#player2score {
    position: relative;
    float: right;
}

#playersDetailsLogo {
    width: 14%;
    position: absolute;
    left: 42.5%;
}

/* form */

#joinGameLogo {
    position: relative;
    left: 40%;
    padding: 2%;
    width: 20%;
    margin: auto;
}

#joinGameFormContainer {
    width: 100%;
    text-align: center;
    margin: auto;
}

.formHeader {
    display: inline-block;
    padding: 0;
    margin: 0;
}

p {
    font-family: "Press Start 2P";
    color: whitesmoke;
    text-align: left;
    font-size: 2.5vmin;
    white-space: nowrap;
    overflow: hidden;
}

.inputForm {
    font-family: "Press Start 2P";
    display: inline-block;
    width: 30%;
    font-size: 2.5vmin;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

/* form / submit */

#sendGameRoomDetails {
    display: block;
    position: relative;
    left: 35%;
    font-family: "Press Start 2P";
    font-size: 2.5vmin;
    width: 30%;
    padding: 5px;
    background-color: white;
    color: black;
    border-bottom: 4px black dotted;
    outline: none;
    margin: 3%;
}

/* fake console */

.fakeScreen {
    background-color: transparent;
    box-sizing: border-box;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fakeConsole {
    position: absolute;
    top: 150px;
    left: 150px;
}

/* fake console / about section */

#about {
    top: 110px;
}

/* fake console / join server section */

#joinGameroom {
    top: 350px;
}

/* fake console / paragraph */


/* fake console / cursor */

span {
    color: #fff;
    font-weight: bold;
}

/* fake console / animations */

.line1 {
    color: #9CD9F0;
    -webkit-animation: type .5s 1s steps(20, end) forwards;
    -moz-animation: type .5s 1s steps(20, end) forwards;
    -o-animation: type .5s 1s steps(20, end) forwards;
    animation: type .5s 1s steps(20, end) forwards;
}

.cursor1 {
    -webkit-animation: blink 1s 2s 2 forwards;
    -moz-animation: blink 1s 2s 2 forwards;
    -o-animation: blink 1s 2s 2 forwards;
    animation: blink 1s 2s 2 forwards;
}

.staticCursor {
    -webkit-animation: blink 1s 2s 0 forwards;
    -moz-animation: blink 1s 2s 0 forwards;
    -o-animation: blink 1s 2s 0 forwards;
    animation: blink 1s 2s 0 forwards;
}

.line2 {
    color: #CDEE69;
    -webkit-animation: type .5s 4.25s steps(20, end) forwards;
    -moz-animation: type .5s 4.25s steps(20, end) forwards;
    -o-animation: type .5s 4.25s steps(20, end) forwards;
    animation: type .5s 4.25s steps(20, end) forwards;
}

.cursor2 {
    -webkit-animation: blink 1s 5.25s 2 forwards;
    -moz-animation: blink 1s 5.25s 2 forwards;
    -o-animation: blink 1s 5.25s 2 forwards;
    animation: blink 1s 5.25s 2 forwards;
}

.line3 {
    color: #E09690;
    -webkit-animation: type .5s 7.5s steps(20, end) forwards;
    -moz-animation: type .5s 7.5s steps(20, end) forwards;
    -o-animation: type .5s 7.5s steps(20, end) forwards;
    animation: type .5s 7.5s steps(20, end) forwards;
}

.cursor3 {
    -webkit-animation: blink 1s 8.5s 2 forwards;
    -moz-animation: blink 1s 8.5s 2 forwards;
    -o-animation: blink 1s 8.5s 2 forwards;
    animation: blink 1s 8.5s 2 forwards;
}

.line4 {
    color: #fff;
    -webkit-animation: type .5s 10.75s steps(20, end) forwards;
    -moz-animation: type .5s 10.75s steps(20, end) forwards;
    -o-animation: type .5s 10.75s steps(20, end) forwards;
    animation: type .5s 10.75s steps(20, end) forwards;
}

.cursor4 {
    -webkit-animation: blink 1s 11.5s infinite;
    -moz-animation: blink 1s 8.5s infinite;
    -o-animation: blink 1s 8.5s infinite;
    animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes type {
    to {
        width: 700px;
    }
}

@-moz-keyframes type {
    to {
        width: 700px;
    }
}

@-o-keyframes type {
    to {
        width: 700px;
    }
}

@keyframes type {
    to {
        width: 700px;
    }
}


#main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #box {
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 0px;
    left: -275px;
    width: 200px;
    opacity: 0;
    padding: 20px 0px;
    height: 100%;
    background-color: #00000096;
    color: #343838;
    -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  }
  
  #box.active {
    left: 0px;
    opacity: 1;
  }
  
  #items {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  #items .item {
    position: relative;
    cursor: pointer;
    font-size: 2em;
    padding: 15px 30px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }
  
  #items .item:hover {
    padding: 15px 45px;
    background-color: rgba(52, 56, 56, 0.2);
  }

  #btn {
    position: fixed;
    z-index: 5;
    top: 15px;
    left: 15px;
    cursor: pointer;
    -webkit-transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  }
  
  #btn div {
    width: 35px;
    height: 2px;
    margin-bottom: 8px;
    background-color: #00DFFC;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
  }
  
  #btn:hover > div { box-shadow: 0 0 1px #00DFFC; }
  
  #btn.active { left: 150px; }
  
  #btn.active div { background-color: #343838; }
  
  #btn.active:hover > div { box-shadow: 0 0 1px #343838; }
  
  #btn.active #top {
    -webkit-transform: translateY(10px) rotate(-135deg);
    -ms-transform: translateY(10px) rotate(-135deg);
    transform: translateY(10px) rotate(-135deg);
  }
  
  #btn.active #middle {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  #btn.active #bottom {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }